extends layout

block content

  h1 Welcome to your myfacebookspace, #{first_name}!
  img(src=photo)
  
  <br>
  <br>
  Caption Russian Roulette: 
  div(id = 'carousel')
    div
      img(src=pic1)
  form(action='/comment', method='post')
    input(type='text', name = 'message')
    input(type='submit')
